# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/build/az-delivery-devkit-v4/firmware.map
.pio/build/az-delivery-devkit-v4/firmware.elf
.pio/build/az-delivery-devkit-v4/firmware.bin
.pio/build/az-delivery-devkit-v4/.sconsign311.dblite